<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.nama_komponen}}</title>
    <link rel="stylesheet" href="/static/css/standar.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/quill.css" type="text/css"/>
</head>
<style>
  .table-x > tbody > tr >td {
    padding-left: 5px !important;
    padding-right: 5px !important; 
    padding-top: 3px !important; 
    padding-bottom: 3px !important; 
    border: 1px solid rgb(41, 38, 38) !important; 
 }
 .table-x > tbody > tr >td.text-justify{
   vertical-align: top !important;
 }

</style>
<body class="report">   
  <img height="80" src="/kop/{{.userBiro.KopBiro}}">
  {{if eq .blade "lampiran_kuliah_alam" }} {{template "lampiran_kuliah_alam.html" . }} {{end}}
  {{if eq .blade "lampiran_kuliah_sosial" }} {{template "lampiran_kuliah_sosial.html" . }} {{end}}
  {{if eq .blade "lampiran_gaya_pekerjaan" }} {{template "lampiran_gaya_pekerjaan.html" . }} {{end}}
  {{if eq .blade "lampiran_mode_belajar" }} {{template "lampiran_mode_belajar.html" . }} {{end}}
</body>
</html>