<p class="p10"><b>{{.urutan}}. MINAT JURUSAN KULIAH SOSIAL HUMANIORA</b><p>
<table class="table-x">
    <thead>
        <tr class="thead-primary">
            <th class="text-center" width="10%">Urutan</th>
            <th width="90%">Keterangan</th>
        </tr>
    </thead>
    <tbody>
        {{range $index,$minat := .skoring }}
        <tr>
            <td class="text-center">{{inc $index}}</td>
            <td class="text-justify"><b>{{$minat.Jurusan}}</b> - {{$minat.DeskripsiMinat}} </td>
        </tr>
        {{end}}
    </tbody>
</table>