<p class="p10"><b>{{.urutan}}. PEMINATAN SMA</b><p>
<table class="table-x">
    <thead>
        <tr class="thead-primary">
            <th class="text-center" width="40%" rowspan="2">Peminatan SMA</th>
            <th class="text-center"  colspan="5">Klasifikasi</th>
        </tr>
        <tr class="thead-primary"> 
            <th class="text-center" width="12%">Sangat Rendah</th>
            <th class="text-center" width="12%">Rendah</th>
            <th class="text-center" width="12%">Sedang</th>
            <th class="text-center" width="12%">Tinggi</th>
            <th class="text-center" width="12%">Sangat Tinggi</th>
        </tr>
    </thead>
    <tbody>
        {{$klasifikasiMinatSains := .skoring.data.KlasifikasiMinatSains}}
        {{$klasifikasiMinatBahasa := .skoring.data.KlasifikasiMinatBahasa}}
        {{$klasifikasiMinatHumaniora := .skoring.data.KlasifikasiMinatHumaniora}}
        {{range $index,$minat := .skoring.ref }}
            {{if eq $minat.NamaPilihan "ILMU_ALAM"}}
                <tr>
                    <td><b>{{replaceStrip $minat.NamaPilihan}}</b><br>{{$minat.Keterangan}}</td>
                    <td class="text-center">{{ if eq $klasifikasiMinatSains "SANGAT_RENDAH"}} <i class="fa-check"></i> {{end}} </td>
                    <td class="text-center">{{ if eq $klasifikasiMinatSains "RENDAH"}} <i class="fa-check"></i> {{end}} </td>
                    <td class="text-center">{{ if eq $klasifikasiMinatSains "SEDANG"}} <i class="fa-check"></i> {{end}} </td>
                    <td class="text-center">{{ if eq $klasifikasiMinatSains "TINGGI"}} <i class="fa-check"></i> {{end}} </td>
                    <td class="text-center">{{ if eq $klasifikasiMinatSains "SANGAT_TINGGI"}} <i class="fa-check"></i> {{end}} </td>
                </tr>
            {{end}}
            {{if eq $minat.NamaPilihan "ILMU_SOSIAL"}}
                <tr>
                    <td><b>{{replaceStrip $minat.NamaPilihan}}</b><br>{{$minat.Keterangan}}</td>
                    <td class="text-center">{{ if eq $klasifikasiMinatHumaniora "SANGAT_RENDAH"}} <i class="fa-check"></i> {{end}} </td>
                    <td class="text-center">{{ if eq $klasifikasiMinatHumaniora "RENDAH"}} <i class="fa-check"></i> {{end}} </td>
                    <td class="text-center">{{ if eq $klasifikasiMinatHumaniora "SEDANG"}} <i class="fa-check"></i> {{end}} </td>
                    <td class="text-center">{{ if eq $klasifikasiMinatHumaniora "TINGGI"}} <i class="fa-check"></i> {{end}} </td>
                    <td class="text-center">{{ if eq $klasifikasiMinatHumaniora "SANGAT_TINGGI"}} <i class="fa-check"></i> {{end}} </td>
                </tr>
            {{end}}
            {{if eq $minat.NamaPilihan "ILMU_BAHASA"}}
                <tr>
                    <td><b>{{replaceStrip $minat.NamaPilihan}}</b><br>{{$minat.Keterangan}}</td>
                    <td class="text-center">{{ if eq $klasifikasiMinatBahasa "SANGAT_RENDAH"}} <i class="fa-check"></i> {{end}} </td>
                    <td class="text-center">{{ if eq $klasifikasiMinatBahasa "RENDAH"}} <i class="fa-check"></i> {{end}} </td>
                    <td class="text-center">{{ if eq $klasifikasiMinatBahasa "SEDANG"}} <i class="fa-check"></i> {{end}} </td>
                    <td class="text-center">{{ if eq $klasifikasiMinatBahasa "TINGGI"}} <i class="fa-check"></i> {{end}} </td>
                    <td class="text-center">{{ if eq $klasifikasiMinatBahasa "SANGAT_TINGGI"}} <i class="fa-check"></i> {{end}} </td>
                </tr>
            {{end}}
        {{end}}
    </tbody>
</table>