<div class="box-header">
    <div class="bg-indigo-dua box-title ">
        <b>SKALA KARAKTERISTIK PRIBADI&nbsp;&nbsp;</b>
    </div> 
    <div class="bg-canvas box-subtitle ">
        <b>Disusun Berdasarkan 12 Komponen Karakteristik Pribadi</b>
    </div>
</div>

<div class="box-content">
    <table width="100%" cellpadding="0" cellspacing="5">
        {{range $index,$komponen := .skoring }}
            <tr>
                <td width="5%" class="cell-icon bg-indigo-dua" valign="align-middle"><b>{{inc $index}}</b></td>
                <td width="5%" class="cell-icon bg-indigo-dua" valign="align-middle">
                    <img src="/images/icon/{{$komponen.Icon}}" height="80px">
                </td>
                <td width="90%" class="cell-info-compact bg-row">
                    {{toUpper $komponen.NamaKomponen}}</b> <br> {{$komponen.Keterangan}}<br>
                    <div class="progress-bar">
                        {{ if eq $komponen.Klasifikasi "Sangat Rendah"}}
                        <span class="progress-fill-blue" style="width: 20%;"> SANGAT RENDAH</span>
                        {{ end }}
                        {{ if eq $komponen.Klasifikasi "Rendah"}}
                        <span class="progress-fill-blue" style="width: 40%;"> RENDAH</span>
                        {{ end }}
                        {{ if eq $komponen.Klasifikasi "Sedang"}}
                        <span class="progress-fill-blue" style="width: 60%;"> SEDANG</span>
                        {{ end }}
                        {{ if eq $komponen.Klasifikasi "Tinggi"}}
                        <span class="progress-fill-blue" style="width: 80%;"> TINGGI</span>
                        {{ end }}
                        {{ if eq $komponen.Klasifikasi "Sangat Tinggi"}}
                        <span class="progress-fill-blue" style="width: 100%;"> TINGGI</span>
                        {{ end }}
                    </div>
                </td>
            </tr> 
        {{end}}
    </table>
</div>