    <div class="box-header">
        <div class="bg-indigo-dark box-title ">
            <b>SKALA KEJIWAAN DEWASA&nbsp;&nbsp;</b>
        </div> 
        <div class="bg-canvas box-subtitle ">
            <b>Disusun Berdasarkan Klasifikasi Model Kejiwaan Dewasa</b>
        </div>
    </div>
    
    <div class="box-content">
        <table width="100%" cellpadding="0" cellspacing="5">
            {{range $index,$mode := .skoring.skor }}
            <tr>
                <td class="bg-row cell-info-compact" width="30%">{{$mode.Id}}. {{$mode.Nama}}</td>
                <td class=" bg-row cell-info-compact" width="70%">
                    <div class="progress-bar">
                        {{ if eq $mode.Klasifikasi 1}}
                        <span class="progress-fill-green-invert" style="width: 15%;"> SANGAT BAIK</span>
                        {{ end }}
                        {{ if eq $mode.Klasifikasi 2}}
                        <span class="progress-fill-green-invert" style="width: 25%;"> BAIK</span>
                        {{ end }}
                        {{ if eq $mode.Klasifikasi 3}}
                        <span class="progress-fill-yellow" style="width: 40%;"> AGAK BAIK</span>
                        {{ end }}
                        {{ if eq $mode.Klasifikasi 4}}
                        <span class="progress-fill-yellow" style="width: 50%;"> SEDANG</span>
                        {{ end }}
                        {{ if eq $mode.Klasifikasi 5}}
                        <span class="progress-fill-red" style="width: 65%;"> AGAK JELEK</span>
                        {{ end }}
                        {{ if eq $mode.Klasifikasi 6}}
                        <span class="progress-fill-red" style="width: 80%;"> JELEK</span>
                        {{ end }}
                        {{ if eq $mode.Klasifikasi 7}}
                        <span class="progress-fill-red" style="width: 100%;"> SANGAT JELEK</span>
                        {{ end }}
                    </div>
                </td>
            </tr>
            {{end}}
        </table>
    </div>