
<div class="box-header">
	<div class="bg-purple box-title ">
		<b>PROFIL KEMAMPUAN KOGNITIF</b>
	</div> 
	<div class="bg-purple-500 box-subtitle ">
		<b>Kecerdasan Umum (IQ) = {{.skoring.SkorIq}} | Klasifikasi: {{ .skoring.KlasifikasiIq}}</b>
	</div>
</div>
 
<table class="table-x">
    <thead>
        <tr class="thead-primary">
            <th class="text-center" width="30%" rowspan="2">Aspek Kognitif</th>
            <th class="text-center"  colspan="5">Klasifikasi</th>
        </tr>
        <tr class="thead-primary"> 
            <th class="text-center" width="14%">Sangat Rendah</th>
            <th class="text-center" width="14%">Rendah</th>
            <th class="text-center" width="14%">Sedang</th>
            <th class="text-center" width="14%">Tinggi</th>
            <th class="text-center" width="14%">Sangat Tinggi</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>01. Informasi Umum</td>
            <td class="text-center">{{ if eq .skoring.KlasifikasiIu "SANGAT RENDAH"}} <i class="fa-check"></i> {{end}} </td>
            <td class="text-center">{{ if eq .skoring.KlasifikasiIu "RENDAH"}} <i class="fa-check"></i> {{end}} </td>
            <td class="text-center">{{ if eq .skoring.KlasifikasiIu "SEDANG"}} <i class="fa-check"></i> {{end}} </td>
            <td class="text-center">{{ if eq .skoring.KlasifikasiIu "TINGGI"}} <i class="fa-check"></i>{{end}} </td>
            <td class="text-center">{{ if eq .skoring.KlasifikasiIu "SANGAT TINGGI"}} <i class="fa-check"></i> {{end}} </td>
        </tr>
        <tr>
            <td>02. Penalaran Verbal</td>
            <td class="text-center">{{ if eq .skoring.KlasifikasiPv "SANGAT RENDAH"}} <i class="fa-check"></i> {{end}} </td>
            <td class="text-center">{{ if eq .skoring.KlasifikasiPv "RENDAH"}} <i class="fa-check"></i> {{end}} </td>
            <td class="text-center">{{ if eq .skoring.KlasifikasiPv "SEDANG"}} <i class="fa-check"></i> {{end}} </td>
            <td class="text-center">{{ if eq .skoring.KlasifikasiPv "TINGGI"}} <i class="fa-check"></i>{{end}} </td>
            <td class="text-center">{{ if eq .skoring.KlasifikasiPv "SANGAT TINGGI"}} <i class="fa-check"></i> {{end}} </td>
        </tr>
        <tr>
            <td>03. Penalaran Kuantitatif</td>
            <td class="text-center">{{ if eq .skoring.KlasifikasiPk "SANGAT RENDAH"}} <i class="fa-check"></i> {{end}} </td>
            <td class="text-center">{{ if eq .skoring.KlasifikasiPk "RENDAH"}} <i class="fa-check"></i> {{end}} </td>
            <td class="text-center">{{ if eq .skoring.KlasifikasiPk "SEDANG"}} <i class="fa-check"></i> {{end}} </td>
            <td class="text-center">{{ if eq .skoring.KlasifikasiPk "TINGGI"}} <i class="fa-check"></i>{{end}} </td>
            <td class="text-center">{{ if eq .skoring.KlasifikasiPk "SANGAT TINGGI"}} <i class="fa-check"></i> {{end}} </td>
        </tr>
        <tr>
            <td>04. Penalaran Abstrak</td>
            <td class="text-center">{{ if eq .skoring.KlasifikasiPa "SANGAT RENDAH"}} <i class="fa-check"></i> {{end}} </td>
            <td class="text-center">{{ if eq .skoring.KlasifikasiPa "RENDAH"}} <i class="fa-check"></i> {{end}} </td>
            <td class="text-center">{{ if eq .skoring.KlasifikasiPa "SEDANG"}} <i class="fa-check"></i> {{end}} </td>
            <td class="text-center">{{ if eq .skoring.KlasifikasiPa "TINGGI"}} <i class="fa-check"></i>{{end}} </td>
            <td class="text-center">{{ if eq .skoring.KlasifikasiPa "SANGAT TINGGI"}} <i class="fa-check"></i> {{end}} </td>
        </tr>
        <tr>
            <td>05. Penalaran Spasial</td>
            <td class="text-center">{{ if eq .skoring.KlasifikasiPs "SANGAT RENDAH"}} <i class="fa-check"></i> {{end}} </td>
            <td class="text-center">{{ if eq .skoring.KlasifikasiPs "RENDAH"}} <i class="fa-check"></i> {{end}} </td>
            <td class="text-center">{{ if eq .skoring.KlasifikasiPs "SEDANG"}} <i class="fa-check"></i> {{end}} </td>
            <td class="text-center">{{ if eq .skoring.KlasifikasiPs "TINGGI"}} <i class="fa-check"></i>{{end}} </td>
            <td class="text-center">{{ if eq .skoring.KlasifikasiPs "SANGAT TINGGI"}} <i class="fa-check"></i> {{end}} </td>
        </tr>
        <tr>
            <td>06. Pengertian Mekanika</td>
            <td class="text-center">{{ if eq .skoring.KlasifikasiPm "SANGAT RENDAH"}} <i class="fa-check"></i> {{end}} </td>
            <td class="text-center">{{ if eq .skoring.KlasifikasiPm "RENDAH"}} <i class="fa-check"></i> {{end}} </td>
            <td class="text-center">{{ if eq .skoring.KlasifikasiPm "SEDANG"}} <i class="fa-check"></i> {{end}} </td>
            <td class="text-center">{{ if eq .skoring.KlasifikasiPm "TINGGI"}} <i class="fa-check"></i>{{end}} </td>
            <td class="text-center">{{ if eq .skoring.KlasifikasiPm "SANGAT TINGGI"}} <i class="fa-check"></i> {{end}} </td>
        </tr>
        <tr>
            <td>06. Cepat/Teliti</td>
            <td class="text-center">{{ if eq .skoring.KlasifikasiKt "SANGAT RENDAH"}} <i class="fa-check"></i> {{end}} </td>
            <td class="text-center">{{ if eq .skoring.KlasifikasiKt "RENDAH"}} <i class="fa-check"></i> {{end}} </td>
            <td class="text-center">{{ if eq .skoring.KlasifikasiKt "SEDANG"}} <i class="fa-check"></i> {{end}} </td>
            <td class="text-center">{{ if eq .skoring.KlasifikasiKt "TINGGI"}} <i class="fa-check"></i>{{end}} </td>
            <td class="text-center">{{ if eq .skoring.KlasifikasiKt "SANGAT TINGGI"}} <i class="fa-check"></i> {{end}} </td>
        </tr>
        <tr>
            <td>Kecerdasan Umum (IQ-konversi)</td>
            <td colspan="5">
				Skor: {{.skoring.SkorIq}} &nbsp;&nbsp;|&nbsp;&nbsp; Klasifikasi: {{ .skoring.KlasifikasiIq}}
			</td>
        </tr>
    </tbody>
</table>