<div class="box-header">
	<div class="bg-purple box-title ">
		<b>PROFIL KEMAMPUAN KOGNITIF&nbsp;&nbsp;</b>
	</div> 
	<div class="bg-canvas box-subtitle ">
		<b>Kecerdasan Umum (IQ) = {{.skoring.data.SkorIq}} | Klasifikasi: {{ .skoring.data.KlasifikasiIq}}</b>
	</div>
</div>
<div class="box-content">
    <table width="100%" cellpadding="0" cellspacing="5">
        <tr>
            <td width="5%" class="cell-icon bg-purple-icon" valign="align-middle">
                <img src="/images/icon/tpa_iu.png" height="80px">
            </td>
            <td width="95%" class="bg-row cell-info" valign="align-middle">
                <b>INFORMASI UMUM</b> <br>
                {{.skoring.ref.tpa_iu}}<br>
                <div class="progress-bar">
                    {{ if eq .skoring.data.KlasifikasiIu "SANGAT RENDAH"}}
					<span class="progress-fill-purple" style="width: 20%;"> SANGAT RENDAH</span>
                    {{ end }}
                    {{ if eq .skoring.data.KlasifikasiIu "RENDAH"}}
					<span class="progress-fill-purple" style="width: 40%;"> RENDAH</span>
                    {{ end }}
                    {{ if eq .skoring.data.KlasifikasiIu "SEDANG"}}
					<span class="progress-fill-purple" style="width: 60%;"> SEDANG</span>
                    {{ end }}
                    {{ if eq .skoring.data.KlasifikasiIu "TINGGI"}}
					<span class="progress-fill-purple" style="width: 80%;"> TINGGI</span>
                    {{ end }}
                    {{ if eq .skoring.data.KlasifikasiIu "SANGAT TINGGI"}}
					<span class="progress-fill-purple" style="width: 100%;"> TINGGI</span>
                    {{ end }}
				</div>
            </td>
        </tr>

        <tr>
            <td width="5%" class="cell-icon bg-purple-icon" valign="align-middle">
                <img src="/images/icon/tpa_pv.png" height="80px">
            </td>
            <td width="95%" class="bg-row cell-info" valign="align-middle">
                <b>PENALARAN VERBAL</b> <br>
                {{.skoring.ref.tpa_pv}}<br>
                <div class="progress-bar">
                    {{ if eq .skoring.data.KlasifikasiPv "SANGAT RENDAH"}}
					<span class="progress-fill-purple" style="width: 20%;"> SANGAT RENDAH</span>
                    {{ end }}
                    {{ if eq .skoring.data.KlasifikasiPv "RENDAH"}}
					<span class="progress-fill-purple" style="width: 40%;"> RENDAH</span>
                    {{ end }}
                    {{ if eq .skoring.data.KlasifikasiPv "SEDANG"}}
					<span class="progress-fill-purple" style="width: 60%;"> SEDANG</span>
                    {{ end }}
                    {{ if eq .skoring.data.KlasifikasiPv "TINGGI"}}
					<span class="progress-fill-purple" style="width: 80%;"> TINGGI</span>
                    {{ end }}
                    {{ if eq .skoring.data.KlasifikasiPv "SANGAT TINGGI"}}
					<span class="progress-fill-purple" style="width: 100%;"> TINGGI</span>
                    {{ end }}
				</div>
            </td>
        </tr>

        <tr>
            <td width="5%" class="cell-icon bg-purple-icon" valign="align-middle">
                <img src="/images/icon/tpa_pk.png" height="80px">
            </td>
            <td width="95%" class="bg-row cell-info" valign="align-middle">
                <b>PENALARAN KUANTITATIF</b> <br>
                {{.skoring.ref.tpa_pk}}<br>
                <div class="progress-bar">
                    {{ if eq .skoring.data.KlasifikasiPk "SANGAT RENDAH"}}
                    <span class="progress-fill-purple" style="width: 20%;"> SANGAT RENDAH</span>
                    {{ end }}
                    {{ if eq .skoring.data.KlasifikasiPk "RENDAH"}}
                    <span class="progress-fill-purple" style="width: 40%;"> RENDAH</span>
                    {{ end }}
                    {{ if eq .skoring.data.KlasifikasiPk "SEDANG"}}
                    <span class="progress-fill-purple" style="width: 60%;"> SEDANG</span>
                    {{ end }}
                    {{ if eq .skoring.data.KlasifikasiPk "TINGGI"}}
                    <span class="progress-fill-purple" style="width: 80%;"> TINGGI</span>
                    {{ end }}
                    {{ if eq .skoring.data.KlasifikasiPk "SANGAT TINGGI"}}
                    <span class="progress-fill-purple" style="width: 100%;"> TINGGI</span>
                    {{ end }}
                </div>
            </td>
        </tr>

        <tr>
            <td width="5%" class="cell-icon bg-purple-icon" valign="align-middle">
                <img src="/images/icon/tpa_pa.png" height="80px">
            </td>
            <td width="95%" class="bg-row cell-info" valign="align-middle">
                <b>PENALARAN ABSTRAK</b> <br>
                {{.skoring.ref.tpa_pa}}<br>
                <div class="progress-bar">
                    {{ if eq .skoring.data.KlasifikasiPa "SANGAT RENDAH"}}
                    <span class="progress-fill-purple" style="width: 20%;"> SANGAT RENDAH</span>
                    {{ end }}
                    {{ if eq .skoring.data.KlasifikasiPa "RENDAH"}}
                    <span class="progress-fill-purple" style="width: 40%;"> RENDAH</span>
                    {{ end }}
                    {{ if eq .skoring.data.KlasifikasiPa "SEDANG"}}
                    <span class="progress-fill-purple" style="width: 60%;"> SEDANG</span>
                    {{ end }}
                    {{ if eq .skoring.data.KlasifikasiPa "TINGGI"}}
                    <span class="progress-fill-purple" style="width: 80%;"> TINGGI</span>
                    {{ end }}
                    {{ if eq .skoring.data.KlasifikasiPa "SANGAT TINGGI"}}
                    <span class="progress-fill-purple" style="width: 100%;"> TINGGI</span>
                    {{ end }}
                </div>
            </td>
        </tr>
        
        <tr>
            <td width="5%" class="cell-icon bg-purple-icon" valign="align-middle">
                <img src="/images/icon/tpa_ps.png" height="80px">
            </td>
            <td width="95%" class="bg-row cell-info" valign="align-middle">
                <b>PENALARAN SPASIAL</b> <br>
                {{.skoring.ref.tpa_ps}}<br>
                <div class="progress-bar">
                    {{ if eq .skoring.data.KlasifikasiPs "SANGAT RENDAH"}}
                    <span class="progress-fill-purple" style="width: 20%;"> SANGAT RENDAH</span>
                    {{ end }}
                    {{ if eq .skoring.data.KlasifikasiPs "RENDAH"}}
                    <span class="progress-fill-purple" style="width: 40%;"> RENDAH</span>
                    {{ end }}
                    {{ if eq .skoring.data.KlasifikasiPs "SEDANG"}}
                    <span class="progress-fill-purple" style="width: 60%;"> SEDANG</span>
                    {{ end }}
                    {{ if eq .skoring.data.KlasifikasiPs "TINGGI"}}
                    <span class="progress-fill-purple" style="width: 80%;"> TINGGI</span>
                    {{ end }}
                    {{ if eq .skoring.data.KlasifikasiPs "SANGAT TINGGI"}}
                    <span class="progress-fill-purple" style="width: 100%;"> TINGGI</span>
                    {{ end }}
                </div>
            </td>
        </tr>

        <tr>
            <td width="5%" class="cell-icon bg-purple-icon" valign="align-middle">
                <img src="/images/icon/tpa_pm.png" height="80px">
            </td>
            <td width="95%" class="bg-row cell-info" valign="align-middle">
                <b>PENGERTIAN MEKANIKA</b> <br>
                {{.skoring.ref.tpa_pm}}<br>
                <div class="progress-bar">
                    {{ if eq .skoring.data.KlasifikasiPm "SANGAT RENDAH"}}
                    <span class="progress-fill-purple" style="width: 20%;"> SANGAT RENDAH</span>
                    {{ end }}
                    {{ if eq .skoring.data.KlasifikasiPm "RENDAH"}}
                    <span class="progress-fill-purple" style="width: 40%;"> RENDAH</span>
                    {{ end }}
                    {{ if eq .skoring.data.KlasifikasiPm "SEDANG"}}
                    <span class="progress-fill-purple" style="width: 60%;"> SEDANG</span>
                    {{ end }}
                    {{ if eq .skoring.data.KlasifikasiPm "TINGGI"}}
                    <span class="progress-fill-purple" style="width: 80%;"> TINGGI</span>
                    {{ end }}
                    {{ if eq .skoring.data.KlasifikasiPm "SANGAT TINGGI"}}
                    <span class="progress-fill-purple" style="width: 100%;"> TINGGI</span>
                    {{ end }}
                </div>
            </td>
        </tr>
        
        <tr>
            <td width="5%" class="cell-icon bg-purple-icon" valign="align-middle">
                <img src="/images/icon/tpa_kt.png" height="80px">
            </td>
            <td width="95%" class="bg-row cell-info" valign="align-middle">
                <b>KETELITIAN</b> <br>
                {{.skoring.ref.tpa_kt}}<br>
                <div class="progress-bar">
                    {{ if eq .skoring.data.KlasifikasiKt "SANGAT RENDAH"}}
                    <span class="progress-fill-purple" style="width: 20%;"> SANGAT RENDAH</span>
                    {{ end }}
                    {{ if eq .skoring.data.KlasifikasiKt "RENDAH"}}
                    <span class="progress-fill-purple" style="width: 40%;"> RENDAH</span>
                    {{ end }}
                    {{ if eq .skoring.data.KlasifikasiKt "SEDANG"}}
                    <span class="progress-fill-purple" style="width: 60%;"> SEDANG</span>
                    {{ end }}
                    {{ if eq .skoring.data.KlasifikasiKt "TINGGI"}}
                    <span class="progress-fill-purple" style="width: 80%;"> TINGGI</span>
                    {{ end }}
                    {{ if eq .skoring.data.KlasifikasiKt "SANGAT TINGGI"}}
                    <span class="progress-fill-purple" style="width: 100%;"> TINGGI</span>
                    {{ end }}
                </div>
            </td>
        </tr>
 
    </table>
</div>