<div class="box-header">
    <div class="bg-orange box-title ">
        <b>MINAT KULIAH KEDINASAN&nbsp;&nbsp;</b>
    </div> 
    <div class="bg-canvas box-subtitle ">
        <b>Disusun Berdasarkan Urutan Minat Kuliah Kedinasan</b>
    </div>
</div>
<div class="box-content">
    <table width="100%" cellpadding="0" cellspacing="5">
        {{range $index,$sekolah := .skoring }}
        <tr>
            <td width="5%" class="cell-icon bg-orange" valign="align-middle"><b>{{inc $index}}</b></td>
            <td width="10%" class="cell-icon bg-orange" valign="align-middle">
                <img src="/images/icon/kedinasan.png" height="40px">
            </td>
            <td width="95%" class="cell-info-compact bg-row text-justify"><b>{{$sekolah.Akronim}}</b> <br>{{$sekolah.NamaSekolahDinas}}</td>
        </tr>
        {{end}}
    </table>
</div>