<div class="box-header">
    <div class="bg-orange box-title ">
        <b>TIPOLOGI KEPRIBADIAN&nbsp;&nbsp;</b>
    </div> 
    <div class="bg-canvas box-subtitle ">
        <b>{{ .skoring.tipologi.Kode }} - {{ .skoring.tipologi.Nama }} -  <i>{{ .skoring.tipologi.Keterangan }}</i></b>
    </div>
</div>

<div class="box-content">
    <table width="100%" cellpadding="0" cellspacing="5">
            <tr>
                <td class="cell-info bg-row">
                     {{ .skoring.tipologi.Deskripsi  }}
                    <p>Informasi lebih lanjut bisa dilihat di internet :
                        <a href="https://www.google.com/search?q={{ .skoring.tipologi.Keterangan }}">{{ .skoring.tipologi.Keterangan}}</a>
                    </p>
                </td>
            </tr>
    </table> 
</div>
 