<div class="box-header">
    <div class="bg-biru-tiga box-title ">
        <b>MODA BELAJAR&nbsp;&nbsp;</b>
    </div> 
    <div class="bg-canvas box-subtitle ">
        <b>Prioritas Pola Belajar Berdasarkan Aspek Suasana Belajar</b>
    </div>
</div>

<div class="box-content">
    <table width="100%" cellpadding="0" cellspacing="5">
        <tr>
            <td class="bg-biru-tiga text-center title" width="5%" rowspan="2">No.</td>
            <td class="bg-biru-tiga text-center title" width="20%" rowspan="2">Suasana Belajar</td>
            <td class="bg-biru-tiga text-center title" colspan="5">Urutan Prioritas</td>
        </tr>
        <tr>
            <td class="bg-biru-tiga text-center title" width="15%">
                1<br><small>Prioritas<br>Utama</small>
            </td>
            <td class="bg-biru-tiga text-center title" width="15%">
                2<br><small>Prioritas<br>Kedua</small>
            </td>
            <td class="bg-biru-tiga text-center title" width="15%">
                3<br><small>Prioritas<br>Tengah</small>
            </td>
            <td class="bg-biru-tiga text-center title" width="15%">
                4<br><small>Berusaha<br>Dihindari</small>
            </td>
            <td class="bg-biru-tiga text-center title" width="15%">
                5<br><small>Terakhir/<br>Dihindari</small>
            </td>
        </tr>
        {{range $index,$mode := .skoring }}
        <tr>
            <td class="text-center bg-row">{{$mode.Urutan}}</td>
            <td class=" bg-row">{{$mode.Suasana}}</td>
            <td class="text-center bg-row">{{$mode.P1}}</td>
            <td class="text-center bg-row">{{$mode.P2}}</td>
            <td class="text-center bg-row">{{$mode.P3}}</td>
            <td class="text-center bg-row">{{$mode.P4}}</td>
            <td class="text-center bg-row">{{$mode.P5}}</td>
        </tr>
        {{end}}
    </table> 
</div>
    