
<table width="100%">
    <tr>
        <td class="bg-red" width="5%" align="center" valign="align-middle">
            <img src="/images/icon/user.png" height="90px">
        </td>
        <td class="bg-row" width="95%" style="padding-top: 10px;padding-bottom: 10px; padding-left: 10px;">
                <b>{{.user.NamaPengguna}}</b><br>
                {{if eq .user.JenisKelamin "L"}} 
                    Laki-Laki 
                {{else if eq .user.JenisKelamin "M"}} 
                    Laki-Laki
                {{else}}
                    Perempuan
                {{end}}
                <br>
                {{.user.UnitOrganisasi}} / {{ .user.Organisasi}} <br>
                Tanggal Tes :  {{.tanggal}}<br>
                Lokasi Tes :  {{.quiz.Lokasi}}<br>
        </td>
    </tr>
</table> 