<div class="box-content">
    <table width="100%" cellpadding="0" cellspacing="5">
        <tr>
            <td class="text-center bg-indigo-dark title" colspan="2" width="100%">REKOMENDASI JURUSAN KULIAH</td>
        </tr>
        <tr>
            <td class="text-center cell-info bg-row"><b>KELOMPOK ILMU SAINS DAN TEKNOLOGI</b></td>
            <td class="text-center cell-info bg-row"><b>KELOMPOK ILMU SOSIAL DAN HUMANIORA</b></td>
        </tr>
        <tr>
            <td class="cell-info bg-row">
                {{unscapeHTML .skoring.KuliahSains}}
            </td>
            <td class="cell-info bg-row">
                {{unscapeHTML .skoring.KuliahSosial}}
            </td>
        </tr>
        <tr>
            <td colspan="2" class="cell-info bg-row">
                <b>SEKOLAH KEDINASAN :</b><br>
                {{unscapeHTML .skoring.KuliahDinas}}
            </td>
        </tr>
        <tr>
            <td colspan="2" class="cell-info bg-row"> 
                <b>JURUSAN UIN/IAIN (ILMU AGAMA) :</b><br>
                {{unscapeHTML .skoring.KuliahAgama}}
            </td>
        </tr>
    </table>
</div> 