<div class="box-content">
    <table width="100%" cellpadding="0" cellspacing="5">
        <tr>
            <td class="text-center bg-indigo-dark title" colspan="2" width="100%">Rekomendasi Jurusan Kuliah</td>
        </tr>
        <tr>
            <td class="text-center cell-info-compact bg-row"><b>KELOMPOK ILMU SAINS DAN TEKNOLOGI</b></td>
            <td class="text-center cell-info-compact bg-row"><b>KELOMPOK ILMU SOSIAL DAN HUMANIORA</b></td>
        </tr>
        <tr>
            <td class="cell-info-compact bg-row">
                {{unscapeHTML .skoring.KuliahSains}}
            </td>
            <td class="cell-info-compact bg-row">
                {{unscapeHTML .skoring.KuliahSosial}}
            </td>
        </tr>
        <tr>
            <td colspan="2" class="cell-info-compact bg-row">
                <b>SEKOLAH KEDINASAN :</b><br>
                {{unscapeHTML .skoring.KuliahDinas}}
            </td>
        </tr>
    </table>
</div>
<table class="table-x">
    <thead>
        <tr class="thead-primary">
            <th class="text-center" colspan="2" width="100%">Rekomendasi Jurusan Kuliah</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>