    <div class="box-header">
        <div class="bg-green-muda box-title ">
            <b>SSCT REMAJA MODIFIKASI&nbsp;&nbsp;</b>
        </div> 
        <div class="bg-canvas box-subtitle ">
            <b>Klasifikasi Sikap Terhadap Berbagai Aspek dari 3 Komponen (Keluarga, Konsep Diri dan Sekolah)</b>
        </div>
    </div>

    <div class="box-content">
        <table width="100%" cellpadding="0" cellspacing="5">
            {{$current_kelompok :=""}} 
            {{range $index,$sikap := .skoring }}
            {{$kelompok := $sikap.Komponen}}
            {{$image := toLower $sikap.Komponen}}
                <tr>
                    {{if ne $kelompok $current_kelompok}}
                        {{if eq $kelompok "KELUARGA"}}
                            <td class="text-center cell-icon bg-green-muda" rowspan="{{$sikap.Span}}">
                                <img src="/static/images/{{replaceSpace $image}}.png" height="80px"><br>
                                {{replaceStrip $sikap.Komponen}}
                            </td>
                        {{end}}
                        {{if eq $kelompok "KONSEP DIRI"}}
                            <td class="text-center cell-icon bg-green-muda" rowspan="{{$sikap.Span}}">
                                <img src="/static/images/{{replaceSpace $image}}.png" height="80px"><br>
                                {{replaceStrip $sikap.Komponen}}
                            </td>
                        {{end}}
                        {{if eq $kelompok "SEKOLAH"}}
                            <td class="text-center cell-icon bg-green-muda" rowspan="{{$sikap.Span}}">
                                <img src="/static/images/{{replaceSpace $image}}.png" height="80px"><br>
                                {{replaceStrip $sikap.Komponen}}
                            </td>
                        {{end}}
                    {{end}}
                    <td class="cell-info-compact bg-row" width="40%">{{$sikap.Aspek}}</td>
                    <td class="cell-info-compact bg-row" width="48%">
                        {{ if eq $sikap.Klasifikasi "Sangat Negatif"}} 
                        <div class="sikap-bar sikap-sangat-negatif" style="width: 50%;">Sangat Negatif</div>
                        {{ end }}
                        {{ if eq $sikap.Klasifikasi "Negatif"}} 
                        <div class="sikap-bar sikap-negatif" style="width: 25%;">Negatif</div>
                        {{ end }}
                        {{ if eq $sikap.Klasifikasi "Netral"}} 
                        <div class="sikap-bar sikap-netral" style="width: 30%;">Netral</div>
                        {{ end }}
                        {{ if eq $sikap.Klasifikasi "Positif"}} 
                        <div class="sikap-bar sikap-positif" style="width: 25%;">Positif</div>
                        {{ end }}
                        {{ if eq $sikap.Klasifikasi "Sangat Positif"}} 
                        <div class="sikap-bar sikap-sangat-positif" style="width: 50%;">Sangat Positif</div>
                        {{ end }}
                    </td>
                </tr>
                {{$current_kelompok = $sikap.Komponen}}
                {{end}}
        </table>
    </div>