<div class="box-header">
    <div class="bg-green-muda box-title ">
        <b>TES MINAT INDONESIA&nbsp;&nbsp;</b>
    </div> 
    <div class="bg-canvas box-subtitle ">
        <b>Disusun Berdasarkan urutan Peminatan Jurusan Kuliah</b>
    </div>
</div>
<div class="box-content">
    <table width="100%" cellpadding="0" cellspacing="5">
        
            {{range $index,$minat := .skoring.minat }}
            <tr>
                <td class="cell-icon text-center bg-green-muda" width="10%">{{inc $index}}</td>
                <td class="cell-info-compact bg-row text-justify" width="90%"><b>{{$minat.Minat}}</b> - {{$minat.Keterangan}}</td>
            </tr>
            {{end}}
            <tr>
                <td colspan="2" class="cell-info bg-row text-right"><b>Rekomendasi Peminatan : {{replaceStrip .skoring.data.RekomTmi}}</b></td>
            </tr>
    </table> 
</div>