<h4>SKALA GAYA BELAJAR</h4>
<table class="table-x">
    <thead>
        <tr class="thead-primary">
            <th class="text-center" width="5%" rowspan="2">No.</th>
            <th class="text-center" width="35%" rowspan="2">Gaya Belajar</th>
            <th class="text-center" width="15%" rowspan="2">Skor</th>
            <th class="text-center"  colspan="5">Klasifikasi</th>
        </tr>
        <tr class="thead-primary"> 
            <th class="text-center" width="15%">Sedikit</th>
            <th class="text-center" width="15%">Sedang</th>
            <th class="text-center" width="15%">Dominan</th>
        </tr>
    </thead>
    <tbody>
        {{range $index,$gaya := .skoring }}
        <tr>
            <td class="text-center">{{inc $index}}</td>
            <td style="text-align: justify;"><b>{{$gaya.Nama}}</b>, {{$gaya.Deskripsi}}</td>
            <td class="text-center">{{$gaya.Skor}}</td>
            <td class="text-center">{{ if eq $gaya.Klasifikasi "SEDIKIT"}} <i class="fa-check"></i> {{end}} </td>
            <td class="text-center">{{ if eq $gaya.Klasifikasi "SEDANG"}} <i class="fa-check"></i> {{end}} </td>
            <td class="text-center">{{ if eq $gaya.Klasifikasi "DOMINAN"}} <i class="fa-check"></i> {{end}} </td>
        </tr>
        {{end}}
    </tbody>
</table>