<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cover REport</title>
    <link rel="stylesheet" href="/static/css/cover.css" type="text/css"/>
</head>
<body style="background-image: url('/cover/default.png'); background-size: cover;  background-repeat: no-repeat; background-position: center;">  
    <div class="container">
        <div class="child">
            <b style="font-size: 16pt;">HASIL PEMERIKSAAN PSIKOLOGIS</b>
            <p style="line-height: 1.15em !important; font-size: 13pt;">
            <b style="font-size: 14pt;">{{.user.NamaPengguna}}</b><br>
            {{.user.Organisasi}}<br>
            <small>{{.user.UnitOrganisasi}}</small>
            </p>
            <p style="line-height: 1.15em !important;font-size: 13pt;">
                {{.quiz.NamaSesi}}<br>
                <small>{{.tanggal}}</small>
            </p>
        </div>
      </div>      
</body>
</html>