@font-face {
    font-family: Reguler;
    src: url(../fonts/GlacialIndifference-Regular.otf);
}
@page {margin: 0mm; }
body {
    background: white;
    margin: 0;
    font-family: Reguler;
    height: 100vh;
}

html, body { height: 100%; }

.child {  
    text-align: center !important;
    color: rgb(23, 5, 41);
}   