@font-face {
    font-family: Reguler;
    src: url(../fonts/arial-mt-condensed.ttf);
}

body{
    font-size: 10pt;
    font-family: Reguler;    
}

body.report{
    font-size: 1.1em !important;
}

p.p10{
    padding-top: 15px !important;
    line-height: 0.5em !important;
    padding-bottom: 0px !important; 
}

.new-page {
    page-break-before: always;
}
.text-center{
    text-align: center;
}


.text-right{
    text-align: right;
}

 .fa-check:before {
    content: url(../images/check.png)
 }

 td.jf, p.jf, td.text-justify{
    text-align: justify !important;
 }

thead { display: table-row-group }
tfoot { display: table-row-group }
tr.auto { page-break-inside: auto !important;}

table { overflow: visible !important; }
tfoot { display: table-row-group }
tr { page-break-inside: avoid !important;}
thead.repeat { display: table-header-group !important }
.new-page {
    page-break-before: always;
}

.bg-purple{
    background-color: #5f2778 ;
}
.bg-purple-500{
    background-color: #b766dd ;
}

div.box-header{
    padding-left:5px;
    padding-right:5px;
    margin-top: 20px;
}

div.box-title { 
    display: inline-block;
    color:  white !important;
    margin-bottom: 2px;
    padding: 8px;
} 

div.box-subtitle { 
    display: block;
    color:  white !important;
    padding:5px;
    padding-right: 10px;
    font-size: 0.9em !important; 
} 
  