@font-face {
    font-family: Reguler;
    src: url(../fonts/RobotoCondensed-Light.ttf);
}

body{
    font-size: 11pt;
    font-family: Reguler;    
}

@page {
    size: landscape 8.5in 11in;  /* width height */
    margin: 2cm;
}
.text-center{
    text-align: center;
}

.table-x {  
    width: 100%;
    border-collapse: collapse; 
}
.table-x > thead > tr >th {
   font-weight: bold !important;
   font-size: 11pt; 
   padding: 5px; 
   border: 0.5px solid rgb(46, 43, 43) !important; 
}  
.table-x > tbody > tr >td {
    padding-left: 5px !important;
    padding-right: 5px !important; 
    padding-top: 3px !important; 
    padding-bottom: 3px !important; 
    border: 0.5px solid rgb(46, 43, 43) !important; 
 }
 .table-x > thead > tr.thead-primary > th{
    color:whitesmoke;
    background-color: rgb(128 90 212)!important;
 } 

 .fa-check:before {
    content: url(../images/check.png)
 }

 h4{
    margin-block-start: 0.8em;
    margin-block-end: 0.8em;
    font-weight: bold !important;
 }