@font-face {
    font-family: Reguler;
    src: url(../fonts/ARIALN.TTF);
}

body{
    font-size: 10pt;
    font-family: Reguler;    
}

body.report{
    font-size: 1.25em !important;
}

p.p10{
    padding-top: 20px !important;
}

.new-page {
    page-break-before: always;
}
.text-center{
    text-align: center;
}


.text-right{
    text-align: right;
}

.table-x {  
    width: 100%;
    border-collapse: collapse; 
}
.table-x > thead > tr >th {
   font-weight: bold !important;
   font-size: 11pt; 
   padding: 5px; 
   border: 1px solid rgb(41, 38, 38) !important; 
}  
.table-x > tbody > tr >td {
    padding-left: 5px !important;
    padding-right: 5px !important; 
    padding-top: 3px !important; 
    padding-bottom: 3px !important; 
    border: 1px solid rgb(41, 38, 38) !important; 
 }
 .table-x > thead > tr.thead-primary > th{
    color:rgb(12, 12, 12);
    background-color: rgb(233, 226, 251)!important;
 } 

 .fa-check:before {
    content: url(../images/check.png)
 }

 td.jf, p.jf, td.text-justify{
    text-align: justify !important;
 }

thead { display: table-row-group }
tfoot { display: table-row-group }
tr.auto { page-break-inside: auto !important;}

table { overflow: visible !important; }
tfoot { display: table-row-group }
tr { page-break-inside: avoid !important;}
thead.repeat { display: table-header-group !important }
.new-page {
    page-break-before: always;
}
 

