@font-face {
    font-family: Reguler;
    src: url(../fonts/arial-mt-condensed.ttf);
}

body{
    font-size: 10pt;
    font-family: Reguler;    
}

body.report{
    font-size: 1.1em !important;
}

p.p10{
    padding-top: 15px !important;
    line-height: 0.5em !important;
    padding-bottom: 0px !important; 
}

.new-page {
    page-break-before: always;
}
.text-center{
    text-align: center;
}


.text-right{
    text-align: right;
}

.table-x {  
    width: 100%;
    border-collapse: collapse; 
    border: 1px solid rgb(117, 100, 160)!important;
}
.table-x > thead > tr >th {
   font-weight: bold !important;
   padding: 3px; 
   border: 1px solid rgb(117, 100, 160)!important;
   text-transform: uppercase;
}  
.table-x > tbody > tr >td {
    padding: 4px;
    border: 1px solid rgb(117, 100, 160)!important;
 }
 .table-x > thead > tr.thead-primary > th{
    color:rgb(12, 12, 12);
    background-color: rgb(233, 226, 251)!important;
 } 

 .fa-check:before {
    content: url(../images/check.png)
 }

 td.jf, p.jf, td.text-justify{
    text-align: justify !important;
 }

thead { display: table-row-group }
tfoot { display: table-row-group }
tr.auto { page-break-inside: auto !important;}

table { overflow: visible !important; }
tfoot { display: table-row-group }
tr { page-break-inside: avoid !important;}
thead.repeat { display: table-header-group !important }
.new-page {
    page-break-before: always;
}
 

